@import "tailwindcss";

:root {
  --background: #FEF1E1;
  --foreground: #FC3508;
  --accent: #2B2B2B;

  --light: #FEF1E1;
  --dark: #2B2B2B;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display:"Rethink Sans";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #2B2B2B;
  }
}

body {
  background: var(--background);
  font-family: "Rethink Sans";
}
